/*
-------------------------------------------------

	  Author: Don Freddy
    Description: Global styles 
	  Version: 1.0.0
	  
------------------------------------------------- 
*/

:root {
  @apply antialiased;

  font-variant-ligatures: common-ligatures;
}

::selection {
  @apply bg-acColor;
  @apply text-actColor;
}

/*==================== BASE ====================*/

*,
*::before,
*::after {
  backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bgColor;
  @apply text-fgColor;
  @apply text-base;
  @apply font-medium;
  @apply font-mono;
  @apply select-none;
  @apply transition;
  @apply ease-in-out;
  @apply duration-150;

  // animation: fade 300ms forwards;
  overflow: overlay;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

body.afterLoad {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-150;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  @apply transition-opacity;
  @apply duration-150;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  @apply opacity-0;
}

a {
  @apply inline-flex;
  @apply text-current;
  @apply no-underline;
  @apply outline-none;

  &.link {
    @apply text-acColor;
  }
}

h1,
h2,
h3,
h4 {
  @apply flex;
  @apply items-center;
  @apply m-0;
  @apply font-bold;
}

h3.title {
  @apply m-2;
}

p {
  @apply text-sm;
  @apply transition;
  @apply ease-in-out;
  @apply duration-150;
}

hr {
  @apply border-b;
  @apply border-dashed;
  @apply border-brdColor;
  @apply my-4;
}

i {
  &.uil {
    @apply text-2xl;
  }
}

button {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply p-2;
  @apply bg-acColor;
  @apply text-actColor;
  @apply font-bold;
  @apply transition;
  @apply ease-in-out;
  @apply duration-150;
  @apply fill-current;
  @apply cursor-pointer;
  @apply outline-none;
  @apply border-none;

  span {
    @apply inline-flex;
    @apply ml-4;
    @apply text-left;
    @apply font-mono;
  }

  &:not([disabled]):hover,
  &:not([disabled]):active,
  &:not([disabled]):focus {
    @apply text-actColor;
    @apply fill-current;
    @apply outline-none;

    box-shadow: inset 0 0 0 2px var(--fg-color);
  }

  &.icon {
    @apply bg-transparent;
    @apply text-fgLightColor;
    @apply fill-current;
    @apply outline-none;
    @apply border-none;
    @apply rounded-lg;

    &:not([disabled]):hover,
    &:not([disabled]):active,
    &:not([disabled]):focus {
      @apply text-fgColor;
      @apply fill-current;
      @apply shadow-none;
      @apply bg-ovbColor;
    }
  }

  &.primary {
    @apply text-white;
    // @apply px-4;
    @apply bg-acColor;

    &:not([disabled]):hover,
    &:not([disabled]):active,
    &:not([disabled]):focus {
      @apply bg-acColor;
      @apply text-white;
    }
  }
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar {
  @apply h-1;
  @apply w-2;

  &:hover {
    @apply bg-bgDarkColor;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-fgLightColor;

  &:hover {
    @apply bg-fgColor;
  }
}

/*==================== REUSABLE CSS CLASSES ====================*/
// .container {
//   @apply container;
//   @apply px-4;
//   @apply sm:px-6;
//   @apply mx-auto;
// }

.transit {
  @apply transition;
  @apply divide-blue-500;
  @apply ease-in-out;
}

.tooltip {
  @apply z-50;
  @apply outline-none;

  .tooltip-inner {
    @apply rounded-lg;
    @apply px-4;
    @apply py-2;
    @apply text-xs;
    @apply font-medium;
    @apply shadow-lg;
    @apply transition;
    @apply ease-in-out;
    @apply duration-150;
    @apply bg-ttColor;
    @apply text-fgColor;
  }

  .tooltip-arrow {
    @apply h-0;
    @apply w-0;
    @apply border-solid;
    @apply absolute;
    @apply m-2;
    @apply border-ttColor;
    @apply z-30;
    @apply transition;
    @apply ease-in-out;
    @apply duration-150;
  }

  &[x-placement^='top'] {
    @apply mb-0;

    .tooltip-arrow {
      @apply mt-0;
      @apply mb-0;

      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
    }
  }

  &[x-placement^='bottom'] {
    @apply mt-0;

    .tooltip-arrow {
      @apply mt-0;
      @apply mb-0;

      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
    }
  }

  &[x-placement^='right'] {
    @apply ml-0;

    .tooltip-arrow {
      @apply ml-0;
      @apply mr-0;

      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
    }
  }

  &[x-placement^='left'] {
    @apply mr-0;

    .tooltip-arrow {
      @apply ml-0;
      @apply mr-0;

      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
    }
  }

  &.popover {
    .wrapper {
      min-height: auto;
    }

    .popover-inner {
      @apply bg-ttColor;
      @apply text-fgColor;
      @apply text-base;
      @apply p-2;
      @apply rounded-lg;
      @apply overflow-auto;
      @apply shadow-lg;

      max-height: 256px;
      min-width: 128px;

      button {
        @apply flex-1;
        @apply m-0;
        @apply p-2;
        @apply justify-start;
        @apply text-left;
      }

      div {
        @apply flex;
        @apply items-stretch;
        @apply flex-col;
      }
    }

    .popover-arrow {
      @apply border-ttColor;
    }
  }

  &[aria-hidden='true'] {
    @apply invisible;
    @apply opacity-0;
    @apply transition-opacity;
    @apply ease-in-out;
    @apply duration-150;
  }

  &[aria-hidden='false'] {
    @apply visible;
    @apply opacity-100;
    @apply transition-opacity;
    @apply ease-in-out;
    @apply duration-150;
  }
}

.info:not(.toasted) {
  @apply m-4;
  @apply text-fgLightColor;

  .material-icons {
    @apply align-middle;
    @apply mr-2;
  }
}

.toasted-container .toasted {
  justify-content: space-between !important;
}

.toasted.info {
  background-color: var(--ac-color) !important;
  color: var(--act-color) !important;
  font-weight: 700 !important;
}

.toasted.bubble .action {
  color: inherit !important;
}

.toasted .action {
  margin-left: auto !important;
}

.toasted-ad {
  @apply bg-gray-50;
  @apply text-gray-900;
  @apply font-bold;
  @apply text-sm;
  @apply rounded-lg;
  @apply shadow-lg;

  padding: 16px !important;

  .action {
    @apply bg-gray-50;
    @apply text-gray-900;
    @apply rounded-lg;
    @apply font-bold;

    text-transform: none !important;
    padding: 12px 16px !important;
    font-size: 16px !important;
    margin: 0 !important;
    margin-left: 8px !important;
  }
}

.material-icons {
  &:active {
    animation: beat 0.5s forwards 1;
  }
}

@keyframes beat {
  30% {
    @apply transform;
    @apply scale-90;
  }
  50% {
    @apply transform;
    @apply scale-110;
  }
  100% {
    @apply transform;
    @apply scale-100;
  }
}
